.cli-connectivity-status {
  border-radius: 8px;
  padding: 8px 12px;

  &.status-danger {
    background-color: #D25959;
  }

  &.status-warning {
    background-color: yellow;
  }

  &.status-success {
    background-color: green;
  }

  span {
    line-height: normal;
  }
}
