.cli-connectivity-status {
  border-radius: 8px;
  padding: 8px 12px;

  &.status-danger {
    color: $danger;
  }

  &.status-warning {
    color: $yellow;
  }

  &.status-success {
    color: $--white-primary;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  span {
    line-height: normal;
  }
}
