$body-bg-dark: $--dark-30;
$body-tertiary-bg-dark: $--dark-50;
$body-color-dark: $--white-primary;
$border-color-dark: rgba($color: $--white-primary, $alpha: 0.12);
$input-placeholder-color: rgba($color: $--white-primary, $alpha: 0.40);
$input-bg: $--dark-50;
$navbar-dark-color: $--white-primary;

$dark: $--dark-10;

$kbd-color: rgba($color: $--white-primary, $alpha: 0.40);
$kbd-bg: transparent;

$form-select-indicator-color-dark: $--white-primary;
$card-bg: $--dark-40;
$modal-content-bg: $--dark-40;
$nav-tabs-link-active-bg: $--dark-60;

$nav-link-color: $--white-o-60;
$nav-link-hover-color: $--white-primary;
$nav-tabs-link-hover-border-color: $--white-border;

$dropdown-link-active-bg: $--dark-60;

$pagination-color: $--white-primary;
$pagination-disabled-color: $--white-disabled;

//$info-bg-subtle-dark: $--purple-10;
//html[data-bs-theme=dark] {
//  --bs-info-bg-subtle: #{$--purple-10};
//}
