// cells
.joint-type-nebulant-threepstar-vertical-aws,
.joint-type-nebulant-rectangle-vertical-aws {
  [joint-selector="pathBody"] {
    stroke: $cell_bg_color;
    fill: $cell_bg_color;
  }

  [joint-selector="titlebg"] {
    fill: $aws_node_title_bg_color;
  }

  &.highlighted {
    .joint-highlight-stroke {
      stroke: $aws_highlighter_hover;
    }
  }

  &.highlighted-persistent {
    .joint-highlight-stroke {
      stroke: $aws_highlighter_persistent;
    }
  }
}

// elementTools
.joint-tools {
  .aws {
    [joint-selector="button"] {
      stroke: $aws_main_color;
    }
  }
}

.application-left-side {
  .ddWidgets-wrapper {
    .providers {
      .provider {
        &[data-name="aws"] {
          background-image: url(@src/assets/img/icons/providers/aws.png);
        }
      }
    }

    .actions {
      @at-root #react-tiny-popover-container .action,
      .action {
        &.aws {
          border-left-color: $aws_ddWidget_left_border_color;
        }
      }

      .action,
      .actionsGroup {
        &.aws {
          svg.image {
            .cstroke {
              stroke: $aws_ddWidget_color;
            }

            .cfill {
              fill: $aws_ddWidget_color;
            }
          }

          &:hover {
            svg.image {
              .cstroke {
                stroke: $aws_ddWidget_color_hover;
              }

              .cfill {
                fill: $aws_ddWidget_color_hover;
              }
            }
          }

          &.open {
            svg.image {
              .cstroke {
                stroke: $aws_ddWidget_color_open;
              }

              .cfill {
                fill: $aws_ddWidget_color_open;
              }
            }
          }
        }
      }
    }
  }

  .marketplace-wrapper {
    .marketplaceFilters {
      .marketplaceFilter {
        &[data-name="aws"] {
          background-image: url(@src/assets/img/icons/providers/aws.png);
        }
      }
    }
  }
}

.application-right-side {
  .variables {
    .wrapper {
      &.active {
        &.aws {
          svg.border rect {
            stroke: $aws_variable_border_color;
          }
        }
      }

      .variable_badge {
        &.aws {
          border: 1px solid $aws_variable_badge_border_color !important;

          &.badge-transparent {
            color: white !important;
          }

          &:not(.badge-transparent) {
            color: $aws_variable_badge_color !important;
          }

          &.fill {
            background-color: $aws_variable_badge_bg_color !important;
          }
        }
      }
    }
  }
}
