.application-right-side {
  .actions.up {
    position: absolute;
    right: calc(100% + 15px);
    top: 10px;
    display: flex;
    gap: 8px;

    .minimap-wrapper {
      .minimap-container {
        display: block;
        z-index: 100;
        position: relative;
        border-radius: 6px;
        background-color: $--dark-40;

        .minimap-placeholder {
          width: 100px;
          height: 100px;
        }

        .joint-navigator {
          border: none;
          background: none;

          .joint-paper {
            box-shadow: none;
          }

          // The current view area
          .current-view {
            border: 1px solid $--dark-80;

            .current-view-control {
              border: 1px solid $--dark-80;
            }
          }
        }
      }
    }

    .zoomControls {
      .mag-minus,
      .mag-plus {
        cursor: pointer;
        background-color: $--dark-40;
        height: 40px;
        width: 40px;
        border-radius: 8px;
        text-align: center;
        align-content: center;

        &:hover {
          background-color: $--dark-50;
        }

        svg {
          width: 20px;
          height: 20px;
          stroke: $--white-primary;
        }
      }

      .mag-minus {
        margin-bottom: 8px;
      }
    }
  }
}
