.statusbar {
  background-color: $--dark-10;
  user-select: none;
  height: 48px;
  z-index: 20;
  min-width: 0; // flex hack
  font-size: 0.9rem;
  user-select: none;
  gap: 12px;

  .nav-link {
    padding: 0;
    color: $menu;
    font-size: 0.9rem;

    &::after {
      display: none;
    }
  }

  .menu-sep {
    border-left: 1px solid #FFFFFF33;
    height: 100%;
  }

  .ncounters {
    gap: 14px;

    .ncounter {
      padding: 8px 0 8px 0;
      gap: 8px;
      line-height: normal;

      svg.warning {
        width: 18px;

        path:first-of-type {
          fill: $yellow !important;
        }

        path:not(:first-of-type) {
          stroke: #1E1A28 !important;
        }
      }

      svg.error {
        width: 18px;

        circle {
          fill: $danger !important;
        }

        path {
          stroke: #1E1A28 !important;
        }
      }
    }
  }

  .title-wrapper {
    min-width: 0; // flex hack

    > div {
      min-width: 0; // flex hack

      > span {
        user-select: none;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}
