.superselect {
  .optionsActions {
    .pagination {
      flex-grow: 1;
      justify-content: end;

      .page-item {
        .page-link {
          border: none;
          color: $pagination-color;

          @at-root .superselect .optionsActions .pagination .page-item.disabled .page-link {
            color: $pagination-disabled-color;
            background-color: $pagination-bg !important;
          }

          &:focus {
            background-color: $pagination-bg;
          }

          &:hover {
            background-color: $pagination-hover-bg;
          }
        }
      }
    }
  }
}
