.application-left-side {
  .actions.down {
    position: absolute;
    left: calc(100% + 15px);
    bottom: 10px;

    .icon {
      width: 24px;
      height: 24px;
    }

    > div.spinner {
      border-radius: 8px;
      text-align: center;
      line-height: 20px;
      background-color: $--purple-10;
      white-space: pre;
      align-items: center;
      font-size: $--fs-14;
      font-weight: 500;

      &:hover {
        background-color: $--purple-20;
      }

      .indicator {
        display: inline-block;
        width: 24px;
        height: 24px;

        &:after {
          content: " ";
          display: block;
          width: 22px;
          height: 22px;
          margin: 0px;
          border-radius: 50%;
          border: 2px solid #fff;
          border-color: #fff transparent #fff transparent;
          animation: rotate360 1.2s linear infinite;
        }
      }

      @keyframes rotate360 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .connect {
      border-radius: 8px;
      text-align: center;
      line-height: 20px;
      background-color: $--purple-10;
      white-space: pre;
      align-items: center;
      font-size: $--fs-14;
      font-weight: 500;

      &:hover {
        background-color: $--purple-20;
      }
    }

    .run {
      border-radius: 8px;
      text-align: center;
      line-height: 20px;
      background-color: $--purple-10;
      white-space: pre;
      align-items: center;
      font-size: $--fs-14;
      font-weight: 500;

      &:hover {
        background-color: $--purple-20;
      }
    }

    .pause {
      border-radius: 8px;
      text-align: center;
      line-height: 20px;
      background-color: $warning;
      white-space: pre;
      align-items: center;
      font-size: $--fs-14;
      font-weight: 500;

      &:hover {
        background-color: shade-color($warning, 10%) !important;
      }

      svg {
        path {
          fill: white !important;
          stroke: white !important;
        }
      }
    }

    .stop {
      border-radius: 8px;
      text-align: center;
      line-height: 20px;
      background-color: $danger;
      white-space: pre;
      align-items: center;
      font-size: $--fs-14;
      font-weight: 500;

      &:hover {
        background-color: shade-color($danger, 10%) !important;
      }

      svg {
        path {
          stroke: white !important;
        }
      }
    }

    .resume {
      border-radius: 8px;
      text-align: center;
      line-height: 20px;
      background-color: $success;
      white-space: pre;
      align-items: center;
      font-size: $--fs-14;
      font-weight: 500;

      &:hover {
        background-color: shade-color($success, 10%) !important;
      }

      svg {
        path {
          stroke: white !important;
        }
      }
    }
  }
}
