.application-left-side {
  .actions.up {
    position: absolute;
    left: calc(100% + 15px);
    top: 10px;
    align-items: center;

    .infoControl {
      .info {
        background-color: $--dark-40;
        height: 40px;
        width: 40px;
        border-radius: 8px;
        text-align: center;
        align-content: center;

        cursor: pointer;

        &:hover {
          background-color: $--dark-50;
        }

        svg {
          width: 20px;
          height: 20px;
          stroke: $--white-primary;

          path {
            stroke: none !important;
            fill: $--white-primary !important;
          }
        }
      }
    }

    .breadcrumbs {
      width: max-content;

      .breadcrumb {
        &.actionable {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .sep {
        width: 16px;
        height: 16px;


      }
    }
  }
}
