@font-face {
  font-family: "PragmataPro";
  src: url("@src/assets/fonts/PragmataPro/PragmataPro_Mono_R_0830.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
